{% extends 'Layout.html' %}
{% block content %}
<div class="card text-center">
  <div class="card-header">
    <h3 class="card-title">LOGIN FORM</h3>
    <form action="{{url_for('Home')}}" class="form-row align-items-center" method='POST'>
      Username:
      <input type="text" class="form-control" name="username" required>
      <br>
      password:
      <input type="password" class="form-control" name="psw" required>
      <br><br>
      <input type="submit" class="btn btn-primary" value="Login">
    </form>
  </div>
</div>
{% endblock %}